node-red.import.js
[{"id":"d9908be7.5291d8","type":"exec","z":"8431b1be.07d7f","command":"cat /proc/cpuinfo","addpay":true,"append":"serial","useSpawn":"","name":"Linux","x":315,"y":60,"wires":[["c862d269.7a7e6"],[],[]]},{"id":"37935ea3.3bc282","type":"function","z":"8431b1be.07d7f","name":"++","func":"if ( (msg.i += 1) != msg.items.length ) return msg;\n","outputs":1,"noerr":0,"x":115,"y":740,"wires":[["db793538.6366d8"]]},{"id":"e333fb74.101c68","type":"inject","z":"8431b1be.07d7f","name":"Define Globals.","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"x":90,"y":20,"wires":[["52f3a267.a1de6c"]]},{"id":"82304932.958198","type":"http request","z":"8431b1be.07d7f","name":"Create Server on SN","method":"POST","ret":"obj","url":"","x":505,"y":200,"wires":[["27360a17.b1f8f6"]]},{"id":"e05df931.e16c18","type":"function","z":"8431b1be.07d7f","name":"Format Payload","func":"global.set('node_path',msg.payload);\nmsg.serial = global.get(\"serial\");\nmsg.headers = global.get(\"headers\");\nmsg.url = global.get(\"endpoint\");\n//msg.url += '/now/table/x_8821_node_server?sysparm_fields=name%2Cserial';\nmsg.url += '/x_8821_node/server/register';\nmsg.node = global.get('node');\nmsg.node.serial = global.get('serial');\nmsg.node.status = 'up';\nmsg.payload = msg.node;\nreturn msg;","outputs":1,"noerr":0,"x":505,"y":160,"wires":[["82304932.958198","4c7aff94.8c512"]]},{"id":"c59c69aa.34df38","type":"exec","z":"8431b1be.07d7f","command":" ","addpay":true,"append":"","useSpawn":false,"name":" Run command","x":344,"y":611,"wires":[["9df18987.928ed8"],[],[]]},{"id":"db793538.6366d8","type":"function","z":"8431b1be.07d7f","name":"07.for each item","func":"if( msg.i == undefined ) {\n msg.i = 0;\n}\nif( msg.items == undefined ) {\n //msg.items = msg.payload;\n// msg.items = msg.payload.result;\n  msg.items = msg.payload.queue;\n}\n\nmsg.payload = msg.items[ msg.i ];\nmsg.cli = msg.items[msg.i].cli;\nmsg.command = msg.items[ msg.i ].command;\nmsg.sys_id = msg.items[ msg.i ].sys_id;\nreturn msg;","outputs":1,"noerr":0,"x":305,"y":420,"wires":[["a9d028c4.12a9c8"]]},{"id":"a9d028c4.12a9c8","type":"change","z":"8431b1be.07d7f","name":"08.set command","rules":[{"t":"set","p":"payload","pt":"msg","to":"command","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":315,"y":460,"wires":[["c1760fe5.c300b"]]},{"id":"2b8de0bb.6f935","type":"http request","z":"8431b1be.07d7f","name":"13.Update Queue record","method":"PUT","ret":"obj","url":"","x":335,"y":700,"wires":[["37935ea3.3bc282"]]},{"id":"9df18987.928ed8","type":"function","z":"8431b1be.07d7f","name":"12.Set record to 'executed'","func":"function pad(a){\nvar n = a.toString();\nconsole.log('n('+n.length+'): ' + n);\nif(n.length === 1){\nn = '0' + n;\nconsole.log('n -> ' + n);\n}\nreturn n;\n}\nvar d = new Date();\nmsg.payload = {\n 'status':'executed',\n 'processed':d.getFullYear() + '-' + pad((d.getMonth()+1)) + '-' + pad(d.getDate()) + ' ' + pad(d.getHours()) + ':' + pad(d.getMinutes()) + ':' + pad(d.getSeconds()),\n 'response':msg.payload,\n 'server':msg.server\n};\nmsg.headers = global.get(\"headers\");\nmsg.url = global.get(\"endpoint\");\nmsg.url += '/now/table/x_8821_node_queue/';\nmsg.url += msg.sys_id + '?sysparm_fields=';\nmsg.url += 'status,response,server,processed';\nreturn msg;","outputs":1,"noerr":0,"x":345,"y":660,"wires":[["2b8de0bb.6f935"]]},{"id":"a06d005e.3c004","type":"http request","z":"8431b1be.07d7f","name":"10.Set to 'in progress'","method":"PUT","ret":"obj","url":"","x":325,"y":540,"wires":[["51951c77.bf6be4"]]},{"id":"c1760fe5.c300b","type":"function","z":"8431b1be.07d7f","name":"09.Set payload to 'in progress'","func":"function pad(a){\n  var n = a.toString();\n  if(n.length === 1){\n    n = '0' + n;\n  }\n  return n;\n}\nvar d = new Date();\nmsg.payload = {\n 'status':'in progress',\n 'queued':d.getFullYear() + '-' + pad((d.getMonth()+1)) + '-' + pad(d.getDate()) + ' ' + pad(d.getHours()) + ':' + pad(d.getMinutes()) + ':' + pad(d.getSeconds()),\n 'server':msg.server\n};\nmsg.headers = global.get(\"headers\");\nmsg.url = 'https://dev13941.service-now.com/';\nmsg.url += 'api/now/table/x_8821_node_queue/';\nmsg.url += msg.sys_id + '?sysparm_fields=';\nmsg.url += 'status,response,server,processed';\nreturn msg;","outputs":1,"noerr":0,"x":355,"y":500,"wires":[["a06d005e.3c004"]]},{"id":"6b5dff29.7409f","type":"inject","z":"8431b1be.07d7f","name":"Start Monitor","topic":"","payload":"","payloadType":"str","repeat":"15","crontab":"","once":true,"x":295,"y":220,"wires":[["50df747d.2947bc"]]},{"id":"91e90ad9.0d51b8","type":"function","z":"8431b1be.07d7f","name":"03.Format request","func":"msg = {\n serial: global.get(\"serial\"),\n headers: global.get(\"headers\")\n};\nmsg.url = global.get(\"endpoint\") + '/x_8821_node/server/all?';\nmsg.url += 'serial='+ global.get(\"serial\");\nreturn msg;","outputs":1,"noerr":0,"x":315,"y":300,"wires":[["d5392164.08faf"]]},{"id":"d5392164.08faf","type":"http request","z":"8431b1be.07d7f","name":"04.Get all the things!","method":"GET","ret":"obj","url":"","x":305,"y":340,"wires":[["ef9ed177.e3934"]]},{"id":"ef9ed177.e3934","type":"switch","z":"8431b1be.07d7f","name":"06.No Results?","property":"payload.queue.length","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"neq","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":305,"y":380,"wires":[[],["db793538.6366d8"]]},{"id":"c862d269.7a7e6","type":"function","z":"8431b1be.07d7f","name":"Set Serial","func":"global.set('serial', msg.payload.split('Serial')[1].split(' ')[1].trim());\n\nreturn msg;","outputs":1,"noerr":0,"x":325,"y":100,"wires":[["e05df931.e16c18","a0e9228b.85c53"]]},{"id":"52f3a267.a1de6c","type":"change","z":"8431b1be.07d7f","name":"Configuration","rules":[{"t":"set","p":"endpoint","pt":"global","to":"https://dev13941.service-now.com/api","tot":"str"},{"t":"set","p":"headers","pt":"global","to":" {\"Authorization\":\"Basic c3lzLm5vZGU6bm9kZTE=\",\"Content-type\" : \"application/json\",  \"Accept\": \"application/json\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":85,"y":60,"wires":[["b825f5a3.3e1d98"]]},{"id":"75fe76e7.75f018","type":"function","z":"8431b1be.07d7f","name":"Save OS Info","func":"msg.node = JSON.parse(msg.payload);\nglobal.set('node',msg.node);\nreturn msg;","outputs":1,"noerr":0,"x":85,"y":140,"wires":[["107dd84c.f8d4e8"]]},{"id":"50df747d.2947bc","type":"switch","z":"8431b1be.07d7f","name":"Serial is set","property":"serial","propertyType":"global","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":295,"y":260,"wires":[["91e90ad9.0d51b8"]]},{"id":"107dd84c.f8d4e8","type":"switch","z":"8431b1be.07d7f","name":"OS","property":"node.platform","propertyType":"global","rules":[{"t":"cont","v":"win","vt":"str"},{"t":"eq","v":"linux","vt":"str"}],"checkall":"true","outputs":2,"x":315,"y":20,"wires":[["86a57ffd.56ac8"],["d9908be7.5291d8"]]},{"id":"86a57ffd.56ac8","type":"exec","z":"8431b1be.07d7f","command":" node -e \"var exec = require('child_process').exec;exec('wmic bios get serialnumber',function(err,stdout,stderr){console.log(stdout);});\"","addpay":true,"append":"","useSpawn":"","name":"Windows","x":485,"y":60,"wires":[["56252d56.f6b3e4"],[],[]]},{"id":"56252d56.f6b3e4","type":"function","z":"8431b1be.07d7f","name":"Set Serial","func":"global.set('serial', msg.payload.split('SerialNumber')[1].trim());\nreturn msg;","outputs":1,"noerr":0,"x":485,"y":100,"wires":[["e05df931.e16c18"]]},{"id":"b825f5a3.3e1d98","type":"exec","z":"8431b1be.07d7f","command":"node -e \"var os = require('os');var returnObj = {  platform: os.platform(),  release: os.release(),  arch: os.arch(),  cpus: os.cpus(),  memfree  : os.freemem(),  memtotal : os.totalmem(),  type: os.type,  uptime: os.uptime(),  nics: os.networkInterfaces(), name: os.hostname()};console.log(JSON.stringify(returnObj));\"","addpay":true,"append":"","useSpawn":"","name":"Get OS Details","x":85,"y":100,"wires":[["75fe76e7.75f018"],[],[]]},{"id":"4c7aff94.8c512","type":"debug","z":"8431b1be.07d7f","name":"Serial","active":true,"console":"false","complete":"node.serial","x":675,"y":140,"wires":[]},{"id":"51951c77.bf6be4","type":"function","z":"8431b1be.07d7f","name":"Build command","func":"if(msg.cli === 'bash/CMD'){\n    msg.payload = msg.command;\n}\nif(msg.cli === 'Node.js CLI'){\n    msg.payload = 'node -e\"' + msg.command + '\"';\n}\nif(msg.cli === 'mysql'){\n    msg.payload = 'node -e \"' + \"var mysql= require('\"+global.get('node_path')+\"mysql');var connection = mysql.createConnection({host:'\"+msg.host+\"',user:'\"+msg.username+\"',password : '\"+msg.password+\"',database:'service'});try{connection.connect();connection.query(\"+msg.sql+\", function(err, rows, fields) {if(err) {console.log('Connect Error: ' + err);}else{console.log(JSON.stringify(rows,null,2));}});connection.end();}catch(e){console.log('Error: ' + e);}\" + '\"';\n}\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":571.5,"wires":[["c59c69aa.34df38"]]},{"id":"27215e89.7df1e2","type":"exec","z":"8431b1be.07d7f","command":" npm install mysql -g","addpay":true,"append":"","useSpawn":"","name":"Install npm mysql","x":911,"y":195,"wires":[[],[],[]]},{"id":"30e16afc.1e0146","type":"exec","z":"8431b1be.07d7f","command":" npm install speedtest-net -g","addpay":true,"append":"","useSpawn":"","name":"Install npm speedtest-net","x":904,"y":276.5,"wires":[[],[],[]]},{"id":"b5ec017f.e9dea","type":"exec","z":"8431b1be.07d7f","command":" npm install tedious -g","addpay":true,"append":"","useSpawn":"","name":"Install Tedious (mssql)","x":902,"y":366.5,"wires":[[],[],[]]},{"id":"a0e9228b.85c53","type":"exec","z":"8431b1be.07d7f","command":"echo \"'$(npm root -g)\"'","addpay":true,"append":"","useSpawn":"","name":"get node path","x":296,"y":159.5,"wires":[["e05df931.e16c18"],[],[]]},{"id":"27360a17.b1f8f6","type":"exec","z":"8431b1be.07d7f","command":"ls","addpay":true,"append":"{{global.node_path}}","useSpawn":"","name":"Get npms","x":609,"y":256.5,"wires":[["cbce6157.afbd4","9e5d40c2.e10a8","65b88b9c.6107e4","26a8316a.10279e"],[],[]]},{"id":"cbce6157.afbd4","type":"switch","z":"8431b1be.07d7f","name":"Mysql installed?","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"mysql","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":912,"y":154,"wires":[[],["27215e89.7df1e2"]]},{"id":"9e5d40c2.e10a8","type":"switch","z":"8431b1be.07d7f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"speedtest","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":896,"y":236,"wires":[[],["30e16afc.1e0146"]]},{"id":"65b88b9c.6107e4","type":"switch","z":"8431b1be.07d7f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"tedious","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":898,"y":325,"wires":[[],["b5ec017f.e9dea"]]},{"id":"26a8316a.10279e","type":"debug","z":"8431b1be.07d7f","name":"","active":true,"console":"false","complete":"false","x":653,"y":307,"wires":[]},{"id":"961dfe07.9abc1","type":"inject","z":"8431b1be.07d7f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":564,"y":374,"wires":[[]]}]
